/** -*- coding: utf-8-unix -*-
 * 全体のスタイル定義
 */
.App {
  text-align: center;
  border: '1px solid blue';
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.boxContainer {
  overflow: hidden;
  position: absolute;           /* 重ねる部品 */
  display: table;               /* ブロックレベル要素をTableと同じように表示する */
}
.box{
  float:left;
  display: table-cell;
}

.title {
  color: red;
}

.split {
  /* border: 3px solid graeen; */
  border: inset 1px #ffffff;
}

.leftMenu {
  color: blue;
  width: 100%;
  background: #ffcf81;
  /* /\* fixnakanishi 雑に高さを決めているので注意 *\/ */
  height: 85vh;
  overflow: scroll;
  position: relative;
  /* scroll-behavior: smooth; */
}

/* menu  */
.dropDownMenu {
  position: relative;
  text-align: left;
  padding: 3px 5px;
}
.menuButton {
  display: inline;
  cursor: pointer;
  border: 1px solid black;
  padding: 3px 5px;
}
.menuBox {
  position: absolute;
  top: 23px;
  width: 120px;
  zIndex: 1;
  cursor: pointer;
  border: 1px solid black;
}
.menuContent {
  padding: 3px 5px;
  borderBottom: 1px solid black;
}
.lastMenuContent {
  padding: 3px 5px;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
}

table.type06 th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  background: #3f3f3f;
  color: #ffffff;
}
table.type06 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
}

/********************
   * スタイルシートの例など
   *  https://webparts.cman.jp/string/blink/
   */
.attention {
  animation: blinkAnime 1s infinite alternate;
}
@keyframes blinkAnime{
   0% { color: #000000 }
 100% { color: #66ff66 }
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  padding: 2em;
  min-width: 20em;
  max-width: 70%;
  color: #f00;
  background-color: #fff;
  border-radius: 1em;
  transform: translate(-50%, -50%);
  outline: transparent;
}
.Overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
  backdrop: 'static';
  keyboard: false;
}