/** -*- coding: utf-8-unix -*-
 * 全体のスタイル定義
 */
.App {
  text-align: center;
  border: '1px solid blue';
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.boxContainer {
  overflow: hidden;
}
.box{
  float:left;
}

.title {
  color: red;
}

.split {
  /* border: 3px solid graeen; */
  border: inset 1px #ffffff;
}

.leftMenu {
  color: blue;
  width: 100%;
  background: #ffcf81;
  /* /\* fixnakanishi 雑に高さを決めているので注意 *\/ */
  height: 85vh;
  overflow: scroll;
  position: relative;
  /* scroll-behavior: smooth; */
}

/* menu  */
.dropDownMenu {
  position: relative;
  text-align: left;
  padding: 3px 5px;
}
.menuButton {
  display: inline;
  cursor: pointer;
  border: 1px solid black;
  padding: 3px 5px;
}
.menuBox {
  position: absolute;
  top: 23px;
  width: 120px;
  zIndex: 1;
  cursor: pointer;
  border: 1px solid black;
}
.menuContent {
  padding: 3px 5px;
  borderBottom: 1px solid black;
}
.lastMenuContent {
  padding: 3px 5px;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
}

table.type06 th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  background: #3f3f3f;
  color: #ffffff;
}
table.type06 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
}