
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.elc
*~

.hg/
Cache/

GPATH
GRTAGS
GTAGS


*.vdi
.emacs.d/ido.last
.emacs.d/recentf
.emacs.desktop
.emacs.desktop.lock
.session
.emacs.d/eshell/history
.emacs.d/eshell/lastdir
*.log.*
*.lock
*VirtualBox*
/.emacs.d/places
.#*
archive-contents
/.emacs.d/
/TAGS
_*
.hg
.svn
.git
#*
/CMake/
/.windows
/.gnupg

/data/
/data_caravan/
/Project/
/EmacsKeys/
/Application Files/
