body {
  margin: 0;
  background: black;
  color: white;
  overflow-x: hidden;
}

/* 時計の枠 */
.clock {
  transform: translateX(50%);
  position: absolute;
  top: 3%; /* これは画面上から下方向にずらす距離 */
  border: 1px solid;
  /*正方形を指定*/
  width: var(--clocksize);
  height: var(--clocksize);
  /* 正方形を円に変換 */
  border-radius: 50%;  /* border-radius: 半径;  半径50%で円*/
}

/* 文字盤 */
.clockFace {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 時計の目盛り（時刻） */
.mark_hour {
  position: absolute;
  width: 2px; /* 目盛りの太さ */
  --mark_minute_long : calc(var(--clocksize) * 0.05); 
  height: var(--mark_minute_long); /* 目盛りの長さ */
  background: #fff;
  transform-origin: right;
  /* clockFaceで盤面の中心に設置 */
  /* 時計盤幅の半分ずらして、目盛りの長さの半分ずらす */
  transform: rotate(calc(30deg * var(--j))) translate(0, calc(var(--clocksize) * -0.5 + var(--mark_minute_long)/2));
}

/* 時計の目盛り（分） */
.mark_minute {
  position: absolute;
  width: 1px; /* 目盛りの太さ */
  --mark_hour_long : calc(var(--clocksize) * 0.03); 
  height: var(--mark_hour_long); /* 目盛りの長さ */
  background: #fff;
  transform-origin: right;
  /* clockFaceで盤面の中心に設置 */
  /* 時計盤幅の半分ずらして、目盛りの長さの半分ずらす */
  transform: rotate(calc(6deg * var(--j))) translate(0, calc(var(--clocksize) * -0.5 + var(--mark_hour_long)/2));
}

/* 数字を置く領域 */
.number_area {
  position: absolute;
  font-size: calc(var(--clocksize)* 0.08);
  width: calc(var(--clocksize)* 0.08);
  height: calc(var(--clocksize)* 0.08);
  text-align: center;
  /*
     * 数字を置く領域を盤面（clockFace）の中心に設置 
     * そして、translate(x軸方向の移動距離, y軸方向の移動距離) で
     * 盤面幅の半分ずらす。calc(var(--clocksize) * -0.5 
     * 図面を見ながら微調整。今回は0.78倍
     * var(--i) * calc(var(--clocksize)* 0.08) * 0.01)
     */
  transform: rotate(calc(30deg * var(--i))) translate(0, calc(var(--clocksize) * -0.5 * 0.78 - var(--i) * (var(--clocksize)* 0.08) * 0.01) );
  transform-origin: center;
  margin-bottom: 30px;
}

/* 文字 */
.number {
  font-size: calc(var(--clocksize)* 0.08);
  width: calc(var(--clocksize)* 0.08);
  height: calc(var(--clocksize)* 0.08);
  /* 親のdivが傾いているので、文字の角度を戻す */
  transform: rotate(calc(-30deg * var(--i)));
}

/* 日付表示 */
.dateArea {
  position: absolute;
  top: 30%; /* これは画面上から下方向にずらす距離 */
  width: var(--clocksize);
  font-size: calc(var(--clocksize)* 0.04);
  text-align: center;
  left: 10px;
}

/* 時計の針共通 */
.hand {
  position: absolute;
  top: 50%; /* これは親要素 .clock の高さの50%下から描画 */
  /* 針の右端を画面の中心に置く */
  right: 50%;
  /* 変形させる要素の中心点 右端を回転の中心にする */
  transform-origin: right;
  /* transform:変形後の表示効果 */
  /*
     * ease-in     開始時は緩やかに、終了時は早く変化
     * ease-out    ease-inとは逆に開始時は早く終了時は緩やかに
     * ease-in-out 開始時と終了時の変化をeaseより緩やかに
     */
  transition: transform 0.0s;
}
/* 短針 */
.hour {
  height: 2.2%;  /* 針の太さ */
  width: 32%;  /* 針の長さ */
  background: #fff;
  border-radius: 30%;
}
div#hour::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* くり抜く部分の色 */
  clip-path: circle(50px at 50% 50%); /* 中央をくり抜く */
}
/* 長針 */
.minute {
  height: 1%;  /* 針の太さ */
  width: 40%;  /* 針の長さ */
  background: #fff;
  border-radius: 30%;
}
/* 秒針 */
.second {
  height: 1px;  /* 針の太さ */
  width: 45%;  /* 針の長さ */
  background: red;

  /* アニメーション(イージング)を指定 */
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

/* タイマー表示用 */
.appointment_svg {
  /* width: 300; */
  /* height: 300; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translateX(50%); */
  /* transform: translateY(200%); */
  /* transform-origin: center; */
  /* position: absolute; */
  /* position: relative; */
  /* position: center; */
  /* fill: skyblue; */
  /* stroke-width: 300px; */
  /* stroke-height: 300px; */
  /* stroke-width: 100%; */
  /* stroke-height: 100%; */
  /* stroke-dashoffset: 24%; */
  /* -webkit-animation: appointment1 4s infinite ease both; */
  /* animation: appointment1 4s infinite ease both; */
}
.appointment {
  /* transform: translateX(50%); */
  /* position: absolute; */
  position: center;
  fill: none;
  /* fill: skyblue; */
  stroke-width: 300px;
  stroke-dashoffset: 100%;
  /* -webkit-animation: appointment1 4s infinite ease both; */
  /* animation: appointment1 4s infinite ease both; */
}
#appointment1 {
  /* stroke: #999; */
  stroke: skyblue;
  /* stroke-width: 300; */
  /* stroke-width: 100%; */
  /* stroke-dashoffset: 24%; */
  /* -webkit-animation-name: appointment1; */
  /* animation-name: appointment1; */
}
#circle_graph_area {
  position: none;
}

@keyframes appointment1 {
  0% {
    stroke-dasharray: 0,220;
  }
  100% {
    stroke-dasharray: 132,88;
  }
}

/* カレンダー全体 */
#calendar {
  flex-direction: column;
  width: 280px;
}
#calendar section {
  margin-top: 5px;
  margin-left: 10px;
}
/* 年月 */
h2[id^="mcy"]{
  margin: 0px;
  font-size: 20px;
}
#calendar section table {
  border-spacing: 0;
  text-align: center;
  font-size: 40px;
  line-height: 28px;
}
/* 今週行 */
tr.now-week {
  background-color: #205429;
}
/* 曜日行 */
td.week-day {
  font-size: 13px;
  line-height: 10px;
  padding: 2px;
}
/* 日付 */
td[id^="mcdd-"]{
  position: relative;
  height: 100%;
  width: 100%;
  padding: 6px 3px 6px 3px;
}
td:first-child {
  color: red;
}
td:last-child {
  color: rgb(100, 180, 255);
}
td.is-disabled {
  color: #5C5C5C;
}
/* 今日 */
td.now-day {
  border: 1px solid gray;
}
/* 行事がある日 */
div.ccHday {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 40px;
  height: 0px;
  z-index: 10;
  border: 10px;
  border-bottom: 12px solid rgba(0, 153, 255, 1);
  opacity: 0.6;/* 透過指定 */
}

/* 右から出るメニュー */
.right-content button#demo {
  position: absolute;
  background-color: black;
  width: 30px;
  height: 60px;
  transition: 0.3s;
}
.right-content.open button#demo::after {
  content: '＞';
}
.right-content button#demo::after {
  content: '＜';
  color: white;
}
.right-content {
  position: absolute;
  top: 0;
  right: -200px;
  width: 230px;
  height: 100%;
  transition: 0.5s;
}

.right-content.open {
  background-color: #222;
  right: 0px;
}
.right-content div {
  padding-left: 40px;
}

div.message {
  position: absolute;
  top: 93%;
  right: 0px;
  width: 300px;
  opacity: 0.3;/* 透過指定 */
}

/* デバッグ */
path {
  /* stroke: #05f; */
}