<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <h1>Users</h1>

    <form th:action="@{/api/hello}" method="get">
        <button type="submit">Hello ページへ</button>
    </form>

    <form th:action="@{/users}" method="post">
        <input type="text" name="name" placeholder="Name">
        <button type="submit">Register</button>
    </form>

    <div class="table-container" th:insert="user-list :: userTable"></div>
</body>
</html>